.center{
    opacity:1;
    background-color:#0066CC;
    margin-left:auto;
    margin-right:auto;
}

body{
    background-image:url(/image/background.jpg);
    width:100%;
    height:100%;
    background-repeat:no reapeat;
    background-position:50%,50%;
    background-attachment:fixed;
    color:#EEEEEE;
    margin-left:auto;
    margin-right:auto;
}

h1{
    opacity:1;
    color:#EEEEEE;
    padding: 10px 0;
    border-bottom: 1px solid #666666;
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#left{
    background-color:#000000;
    opacity:0.6;
    float:left;
    width:48%;
    height:100%;
    padding:10px;
}

#right{
    background-color:#000000;
    opacity:0.6;
    float:right;
    width:48%;
    height:100%;
    padding:10px;
}

#left h2{
    font-family:Arial,Verdana,Sans-serif;
}

#left .likeP{
    color:#EEEEEE;
    text-indent: 3%;
    font-family:"Times New Roman",Georgia,Serif;
}

#left p{
    text-indent: 3%;
    font-family:"Times New Roman",Georgia,Serif;
}

#right h2{
    font-family:Arial,Verdana,Sans-serif;
}

#right.likeP{
    color:#EEEEEE;
    text-indent: 3%;
    font-family:"Times New Roman",Georgia,Serif;
}

#right p{
    text-indent: 3%;
    font-family:"Times New Roman",Georgia,Serif;
}